@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: #18171F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-width: 320px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading-l{
  @apply font-bold text-[24px] leading-[31px]  md:leading-[43px]  md:text-[32px];
}

.heading-m{
  @apply font-bold text-[14px] md:text-[24px] md:leading-[31px];
}


.p{
  @apply font-bold text-[16px] md:text-[18px] md:leading-[23px];
}

.input{
  @apply appearance-none py-4 px-4 focus:outline-none bg-dark-grey text-almost-white placeholder:text-almost-white placeholder:text-opacity-25;
}

.checkbox{
  @apply w-5 h-5 appearance-none rounded-sm relative bg-very-dark-grey text-very-dark-grey border-2 border-almost-white cursor-pointer checked:bg-neon-green checked:border-neon-green hover:border-neon-green;
}

.button{
  @apply w-full py-4 text-center bg-neon-green text-dark-grey border hover:border-neon-green hover:bg-dark-grey hover:text-neon-green;
}
