@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: #18171F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading-l{
  @apply font-bold text-[24px] leading-[31px] text-almost-white md:leading-[43px]  md:text-[32px];
}

.heading-m{
  @apply font-bold text-[16px] md:text-[24px] md:leading-[31px];
}

.heading-m{
  @apply font-bold text-[16px]  md:text-[24px] md:leading-[31px];
}

.p{
  @apply font-bold text-[16px] text-almost-white md:text-[18px] md:leading-[23px];
}

.input{
  @apply appearance-none py-4 px-4 focus:outline-none bg-dark-grey text-almost-white;
}

